<div class="h-72 w-full flex flex-col items-center rounded-md p-4 bg-white shadow">
    <a routerLink="/profile/{{ person?.id }}">
        <img src="{{ person?.profileImage }}" alt="User avatar"
            class="w-28 h-28 rounded-full cursor-pointer bg-sky-100"></a>
    <div class="flex flex-col mt-2 w-full items-center">
        <a routerLink="/profile/{{ person?.id }}"
            class="self-center text-2xl font-bold text-slate-500 hover:underline">{{
            person?.firstName }} {{ person?.lastName }}</a>
        <p class="text-slate-500">{{ sharedFriends }} shared friends</p>
    </div>
    <button type="button" *ngIf="!isRequestSent" (click)="toggleRequest()"
        class="flex flex-row items-center gap-x-1 w-full bg-sky-500 p-2 rounded-md h-10 flex flex-row items-center justify-center mt-3 text-sky-100 mt-auto hover:bg-sky-700 transition duration-300 ease-in-out"><svg
            xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path
                d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z" />
        </svg>Send
        friend
        request</button>
    <button type="button" *ngIf="isRequestSent" (click)="toggleRequest()"
        class="flex flex-row items-center gap-x-1 w-full p-2 rounded-md h-10 flex flex-row items-center justify-center mt-3 text-sky-700 mt-auto hover:bg-slate-200 transition duration-300 ease-in-out"><svg
            xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path d="M11 6a3 3 0 11-6 0 3 3 0 016 0zM14 17a6 6 0 00-12 0h12zM13 8a1 1 0 100 2h4a1 1 0 100-2h-4z" />
        </svg>Cancel
        friend
        request</button>
</div>