<div [class.h-14]="!isChatOpen" [class.h-96]="isChatOpen"
  class="border-l border-t border-r border-slate-300 w-96 rounded-tr-md rounded-tl-md flex flex-col transition-height duration-300 ease-in-out overflow-hidden bg-white">
  <div class="flex flex-row items-center p-2 border-b h-14">
    <img src="{{ user?.profileImage }}" alt="User avatar" class="h-8 w-8 rounded-full mr-2 bg-sky-100" />
    <p>{{user?.firstName}} {{user?.lastName}}</p>
    <button (click)="toggleChat()" [hidden]="!isChatOpen" type="button"
      class="ml-auto h-10 w-10 hover:bg-slate-200 rounded-full cursor-pointer p-2 transition duration-300 ease-in-out">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-full w-full" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
      </svg>
    </button>
    <button (click)="toggleChat()" [hidden]="isChatOpen" type="button"
      class="ml-auto h-10 w-10 hover:bg-slate-200 rounded-full cursor-pointer p-2 transition duration-300 ease-in-out">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-full w-full" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7" />
      </svg>
    </button>
    <button (click)="onClose()" type="button"
      class="hover:bg-slate-200 transition duration-300 ease-in-out rounded-full p-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd" />
      </svg>
    </button>
  </div>
  <div class="h-64 border-b overflow-scroll-auto overflow-x-hidden flex flex-col-reverse">
    <!-- message -->
    <div class="flex flex-col border-b p-2">
      <div class="flex flex-row items-center">
        <div class="flex flex-row items-center">
          <img src="{{ user?.profileImage }}" alt="User avatar" class="w-8 h-8 rounded-full bg-sky-100" />
          <p class="ml-2">{{user?.firstName}} {{user?.lastName}}</p>
        </div>
        <p class="ml-auto">02.10.2022 11:44h</p>
      </div>
      <div class="ml-10">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
          natus impedit recusandae laborum provident ipsum rerum illum voluptas
          enim assumenda.
        </p>
      </div>
    </div>
    <div class="flex flex-col border-b p-2">
      <div class="flex flex-row items-center">
        <div class="flex flex-row items-center">
          <img
            src="https://avataaars.io/?avatarStyle=Transparent&topType=NoHair&accessoriesType=Blank&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light"
            alt="User avatar" class="w-8 h-8 rounded-full bg-sky-100" />
          <p class="ml-2">You</p>
        </div>
        <p class="ml-auto">02.10.2022 11:43h</p>
      </div>
      <div class="ml-10">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
          natus impedit recusandae laborum provident ipsum rerum illum voluptas
          enim assumenda.
        </p>
      </div>
    </div>
    <div class="flex flex-col border-b p-2">
      <div class="flex flex-row items-center">
        <div class="flex flex-row items-center">
          <img src="{{ user?.profileImage }}" alt="User avatar" class="w-8 h-8 rounded-full bg-sky-100" />
          <p class="ml-2">{{user?.firstName}} {{user?.lastName}}</p>
        </div>
        <p class="ml-auto">02.10.2022 11:42h</p>
      </div>
      <div class="ml-10">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
          natus impedit recusandae laborum provident ipsum rerum illum voluptas
          enim assumenda.
        </p>
      </div>
    </div>
  </div>
  <div class="h-18 flex flex-row items-center p-4">
    <div class="w-full flex flex-row items-center">
      <textarea type="text" placeholder="Enter message"
        class="outline-none bg-slate-300 w-full h-12 p-2 rounded-md text-sm focus:outline-2 focus:outline-sky-500 focus:bg-inherit transition duration-300 ease-in-out"
        cols="12"></textarea>
      <svg xmlns="http://www.w3.org/2000/svg"
        class="h-12 w-12 rotate-90 ml-3 text-slate-500 hover:bg-slate-200 hover:text-slate-500 rounded-full p-2 transition duration-300 ease-in-out cursor-pointer"
        viewBox="0 0 20 20" fill="currentColor">
        <path
          d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z" />
      </svg>
    </div>
  </div>
</div>