<nav class="grid grid-cols-6 w-full h-16 fixed top-0 left-0 bg-white shadow" *ngIf="!hasRoute('/account')">
    <div class="grid grid-cols-3 col-span-4 col-start-2 gap-x-4">
        <div class="col-span-2 flex relative">
            <div
                class="flex flex-row items-center rounded-md bg-slate-100 px-2 my-3 w-full focus-within:border-sky-500 focus-within:border-2 focus-within:bg-inherit transition duration-300 ease-in-out">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-slate-500" viewBox="0 0 20 20"
                    fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                        clip-rule="evenodd" />
                </svg>
                <input type="text" placeholder="Search for people, groups and events..." (keyup)="search($event)"
                    class="text-slate-700 bg-inherit rounded-md w-full outline-none pl-2" />
            </div>
            <div class="absolute top-14 left-0 bg-white w-full rounded-md shadow-md flex flex-col divide-y"
                *ngIf="searchResults.length > 0">
                <a routerLink="/profile/{{ result.id }}" *ngFor="let result of searchResults" (click)="resetSearch()"
                    class="p-4 text-slate-500 font-bold hover:bg-slate-100 transition duration-300 ease-in-out flex flex-row items-center gap-x-2 first:rounded-tl-md first:rounded-tr-md last:rounded-br-md last:rounded-bl-md">
                    <img src="{{ result.profileImage }}" class="w-8 h-8 rounded-full bg-sky-100" />
                    {{ result.firstName }} {{ result.lastName }}</a>
            </div>
        </div>
    </div>
    <ul class="flex flex-row items-center col-start-6 mx-auto gap-x-2">
        <li class="h-full items-center flex flex-row">
            <a routerLink="/notifications" routerLinkActive="bg-slate-200" [routerLinkActiveOptions]="{'exact':true}"
                class="flex flex-row items-center justify-center h-10 w-auto p-1 rounded-md hover:bg-slate-100 ease-in-out duration-300 transition">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-full w-full text-slate-500" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                </svg>
            </a>
        </li>
        <li class="relative h-full flex flex-row items-center">
            <button (click)="toggleMenu()" type="button" [class.focus:bg-slate-200]="isMenuVisible"
                [class.bg-slate-200]="isProfileNavigated"
                class="flex flex-row items-center rounded-md hover:bg-slate-100 ease-in-out duration-300 transition h-10 px-2 py-1">
                <img src="https://avataaars.io/?avatarStyle=Transparent&topType=NoHair&accessoriesType=Blank&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light"
                    alt="User avatar" class="h-full w-auto object-cover rounded-full bg-sky-100" />
                <p class="ml-2 font-bold text-slate-500">Bojan Vujanović</p>
                <img *ngIf="isMenuVisible" src="../assets/up-arrow.svg" alt="Down arrow" class="ml-3 w-3 h-3" />
                <img *ngIf="!isMenuVisible" src="../assets/down-arrow.svg" alt="Down arrow" class="ml-3 w-3 h-3" />
            </button>
            <div *ngIf="isMenuVisible"
                class="absolute w-44 border-slate-200 border rounded-md top-14 right-0 mt-3 bg-white">
                <ul class="divide-y">
                    <li class="h-14 p-2">
                        <a routerLink="/profile/me" (click)="toggleMenu()"
                            class="w-full h-full p-2 flex items-center rounded-md hover:bg-slate-100 ease-in-out duration-300 transition text-slate-700">View
                            Profile</a>
                    </li>
                    <li class="h-14 p-2">
                        <button type="button" (click)="signOut()"
                            class="w-full h-full p-2 flex items-center rounded-md hover:bg-slate-100 ease-in-out duration-300 transition text-slate-500">Sign
                            out</button>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>