<div class="grid grid-cols-3 gap-x-4">
    <div class="shadow rounded-md p-4 bg-white col-span-2">
        <div class="flex flex-col gap-y-4">
            <div class="flex flex-col">
                <label for="create-group-name" class="font-bold text-slate-500">Name</label>
                <input type="text" id="create-group-name" class="px-2 bg-slate-200 h-12 rounded-md outline-none">
            </div>
            <div class="flex flex-col">
                <label for="create-group-desc" class="font-bold text-slate-500">Description</label>
                <textarea id="create-group-desc" cols="30" rows="5"
                    class="px-2 bg-slate-200 rounded-md outline-none p-2"></textarea>
            </div>
            <div class="flex flex-col">
                <label for="create-group-image" class="font-bold text-slate-500">Choose cover image</label>
                <input type="file" id="create-group-image"
                    class="mt-2 file:rounded-md file:outline-none file:border-none file:px-4 file:py-2 file:cursor-pointer file:hover:bg-slate-200 file:transition file:duration-300 file:ease-in-out">
            </div>
            <div class="flex flex-row justify-end">
                <button type="button"
                    class="px-4 py-2 bg-sky-500 text-sky-100 rounded-md hover:bg-sky-700 transition duration-300 ease-in-out">Create
                    group</button>
            </div>
        </div>
    </div>
</div>