<div class="rounded-md p-2 flex flex-col items-center hover:bg-slate-100 transition duration-300 ease-in-out">
    <a routerLink="/profile/{{ friend?.id }}" class="text-lg hover:underline flex flex-col items-center">
        <img src="{{ friend?.profileImage }}" alt="User image" class="rounded-full w-20 h-20 cursor-pointer bg-sky-100">
        <span class="mt-4 font-bold text-slate-700">{{ friend?.firstName }} {{ friend?.lastName }}</span></a>
    <div class="mt-4 w-full">
        <button class="rounded-md p-2 hover:bg-slate-200 w-full">Remove</button>
    </div>
</div>