<div class="flex flex-row p-2 hover:bg-slate-200 cursor-pointer transition ease-in-out duration-300 h-16">
  <img src="{{ user?.profileImage }}" alt="User avatar" class="w-10 h-10 rounded-full mr-2 bg-sky-100" />
  <div class="flex flex-col w-full h-full">
    <div class="flex flex-row items-center">
      <p class="truncate max-w-44 w-auto">
        {{ user?.firstName }} {{ user?.lastName }}
      </p>
      <p class="ml-auto text-xs">{{ conversation?.dateTime | date:"shortDate" }}</p>
    </div>
    <div>
      <p class="text-sm text-slate-500 max-w-44 w-auto truncate">
        {{ conversation?.lastMessage }}
      </p>
    </div>
  </div>
</div>