<div *ngIf="type === NotificationTypes.Activity"
    class="h-20 flex flex-row items-center p-4 hover:bg-slate-100 cursor-pointer justify-between">
    <p>Your post has reached 30 likes.</p>
    <p>2h ago</p>
</div>

<div *ngIf="type === NotificationTypes.Group"
    class="h-20 flex flex-row items-center p-4 hover:bg-slate-100 cursor-pointer justify-between">
    <p>New post in <span class="font-bold">Lorem, ipsum dolor.</span></p>
    <p>5h ago</p>
</div>

<div *ngIf="type === NotificationTypes.Event"
    class="h-20 flex flex-row items-center p-4 hover:bg-slate-100 cursor-pointer justify-between">
    <p>Upcoming <span class="font-bold">Lorem ipsum dolor sit amet.</span> in 5 hours.</p>
    <p>1h ago</p>
</div>

<div *ngIf="type === NotificationTypes.People"
    class="h-20 flex flex-row items-center p-4 hover:bg-slate-100 cursor-pointer justify-between">
    <div class="flex flex-row items-center">
        <img src="../../../assets/user-blank.png" alt="User avatar" class="w-10 h-10 rounded-full">
        <p class="ml-2"><span class="font-bold">John Smith</span> has accepted your friend request.</p>
    </div>
    <p>1h ago</p>
</div>