<div class="rounded-md bg-white w-full shadow flex flex-col justify-center p-4">
    <div class="flex flex-row items-center gap-x-2">
        <img src="../../../assets/user-blank.png" alt="User avatar" class="w-16 h-16 rounded-full">
        <input type="text" placeholder="What are you thinking about?"
            class="outline-none bg-slate-100 h-12 w-full rounded-full px-4 focus:outline-2 focus:outline-sky-500 focus:bg-inherit transition duration-300 ease-in-out text-slate-700"
            (keyup)="toggleIsPostButtonVisible($event)">
    </div>
    <div class="flex flex-row self-end gap-x-2 items-center mt-2">
        <div class="flex flex-row items-center">
            <label for="picture-input"
                class="flex flex-row items-center cursor-pointer px-4 py-2 hover:bg-slate-100 rounded-full transition duration-300 ease-in-out gap-x-1">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-sky-500" viewBox="0 0 20 20"
                    fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z"
                        clip-rule="evenodd" />
                </svg>
                <span class="font-bold text-slate-500">Photo</span>
            </label>
            <input type="file" id="picture-input" class="hidden" (change)="toggleIsPostButtonVisible($event)">
        </div>
        <button type="button" *ngIf="isPostButtonVisible"
            class="bg-sky-300 hover:text-sky-100 hover:bg-sky-700 text-sky-700 font-bold rounded-full px-4 py-2 transition duration-300 ease-in-out">Post
            it</button>
    </div>

</div>