<div class="grid grid-cols-3 gap-x-4">
    <div class="grid grid-cols-2 gap-4 col-span-2">
        <div class="col-span-2 rounded-md bg-white p-4 flex flex-row justify-between items-center shadow">
            <p class="text-slate-700">Join others or be the organizer</p>
            <a routerLink="/events/create" type="button"
                class="px-4 py-2 rounded-md bg-sky-500 hover:bg-sky-700 text-sky-100 transition duration-300 ease-in-out">Organize
                an
                event</a>
        </div>
        <app-event-card *ngFor="let event of events" [event]="event"></app-event-card>
    </div>
</div>