<div class="p-4">
    <div class="flex flex-col gap-y-3">
        <p class="flex flex-row items-center gap-x-1 text-slate-500"><svg xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path
                    d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z" />
            </svg>{{ event?.attendees | number }} people are going</p>
        <p class="flex flex-row items-center gap-x-1 text-slate-500"><svg xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                    d="M3 6a3 3 0 013-3h10a1 1 0 01.8 1.6L14.25 8l2.55 3.4A1 1 0 0116 13H6a1 1 0 00-1 1v3a1 1 0 11-2 0V6z"
                    clip-rule="evenodd" />
            </svg>Organized by <a routerLink="/profile/{{ user?.id }}"
                class="hover:underline font-bold text-slate-700">{{ user?.firstName }} {{ user?.lastName }}</a></p>
        <p class="flex flex-row items-center gap-x-1 text-slate-500 font-bold"><svg xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                    d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                    clip-rule="evenodd" />
            </svg>{{ event?.location }}</p>
    </div>
    <p class="mt-4 text-slate-700">{{ event?.description }}</p>
</div>