<div class="grid grid-cols-1 flex flex-col bg-white shadow rounded-md p-4">
    <div class="grid grid-cols-4 gap-4">
        <app-friend *ngFor="let friend of friends" [friend]="friend"></app-friend>
    </div>
</div>