<div class="grid grid-cols-3 gap-x-4">
    <div class="shadow rounded-md bg-white flex flex-col col-span-2">
        <div class="">
            <img src="{{ group?.coverUrl }}" alt="Group image" class="h-64 w-full object-cover object-center">
        </div>
        <div class="flex flex-row px-4 py-2 justify-between items-center">
            <div class="">
                <p class="text-2xl font-bold text-slate-500">{{ group?.name }}</p>
                <p class="mt-2 text-lg font-bold text-slate-400">{{ group?.members | number }} members</p>
            </div>
            <button type="button" *ngIf="!isJoined" (click)="toggleJoin()"
                class="px-4 py-2 bg-sky-500 text-sky-100 rounded-md hover:bg-sky-700 transition duration-300 ease-in-out">Join
                group</button>
            <button type="button" *ngIf="isJoined" (click)="toggleJoin()"
                class="px-4 py-2 text-slate-700 rounded-md hover:bg-slate-200 transition duration-300 ease-in-out">Leave
                group</button>
        </div>
        <div class="p-4">
            <p>{{ group?.description }}</p>
        </div>
        <div class="flex flex-row border-y mt-4 gap-x-2 p-2 text-center">
            <a routerLink="/groups/{{ group?.id }}" [routerLinkActiveOptions]="{'exact':true}"
                routerLinkActive="font-bold text-sky-500"
                class="w-full hover:bg-slate-200 rounded-md p-2 transition duration-300 ease-in-out">Posts</a>
            <a routerLink="/groups/{{ group?.id }}/members" [routerLinkActiveOptions]="{'exact':true}"
                routerLinkActive="font-bold text-sky-500"
                class="w-full hover:bg-slate-200 rounded-md p-2 transition duration-300 ease-in-out">Members</a>
        </div>
    </div>
    <div class="col-span-2">
        <router-outlet></router-outlet>
    </div>
</div>