<!-- chat windows -->
<div class="fixed bottom-0 right-96 flex gap-x-2 flex-row-reverse justify-end items-end">
  <ng-template messageHost></ng-template>
</div>
<!-- chat messages -->
<div [class.chat-window-h]="isChatOpen" [class.h-14]="!isChatOpen" *ngIf="!hasRoute('/account')"
  class="fixed bottom-0 right-0 w-80 border-r border-t border-l rounded-tl-md rounded-tr-md border-slate-300 mr-8 transition-height duration-300 ease-in-out overflow-hidden ml-auto flex-none bg-white">
  <div class="border-b border-slate-300 h-14 flex flex-row items-center p-2">
    <p>Messaging</p>
    <button type="button" (click)="openNewMessageChatWindow()"
      class="h-10 w-10 ml-auto hover:bg-slate-200 rounded-full cursor-pointer p-2 transition duration-300 ease-in-out">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-full w-full" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
      </svg>
    </button>
    <button (click)="toggleChat()" [hidden]="!isChatOpen" type="button"
      class="h-10 w-10 hover:bg-slate-200 rounded-full cursor-pointer p-2 transition duration-300 ease-in-out">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-full w-full" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
      </svg>
    </button>
    <button (click)="toggleChat()" [hidden]="isChatOpen" type="button"
      class="h-10 w-10 hover:bg-slate-200 rounded-full cursor-pointer p-2 transition duration-300 ease-in-out">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-full w-full" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7" />
      </svg>
    </button>
  </div>
  <div class="h-12 py-2 px-4 flex flex-row justify-center items-center">
    <input type="text" placeholder="Search conversations"
      class="outline-none bg-slate-200 rounded-md w-full h-full p-2 focus:outline-sky-500 focus:outline-2 focus:bg-inherit transition duration-300 ease-in-out"
      (keyup)="onSearch($event)" />
  </div>
  <div class="mt-4 contact-list-h overflow-y-auto divide-y">
    <div app-chat-contact *ngFor="let contact of contactList" [conversation]="contact"
      (click)="openChatWindow(contact.id)">
    </div>
  </div>
</div>