<div>
    <a routerLink="/groups/{{ group?.id }}"
        class="flex flex-row gap-x-2 items-center py-4 font-bold text-slate-700 hover:underline">
        <img src="{{ group?.coverUrl }}" alt="User picture" class="rounded-md w-14 h-14 cursor-pointer shrink-0">
        {{ group?.name}}</a>
</div>