<!-- 
    Issue regarding css not being applied to <a> with routerLinkActive
    https://github.com/angular/angular/issues/18469
 -->
<div class="grid grid-cols-6 my-28 gap-x-4">
    <div class="sticky top-28 self-start pl-4">
        <div class="justify-center flex flex-row  rounded-md h-72 bg-white shadow">
            <ul class="w-full">
                <li class="flex" routerLinkActive="text-sky-500 font-bold border-l-2 border-sky-500 bg-slate-50"
                    [routerLinkActiveOptions]="routerLinkActiveOptions">
                    <a routerLink="/"
                        class="flex flex-row items-center  gap-x-3 p-6 hover:bg-slate-100 w-full cursor-pointer transition duration-300 ease-in-out rounded-tl-md rounted-tr-md text-slate-500 font-bold"><svg
                            xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                        </svg>Activities</a>
                </li>
                <li class="flex" routerLinkActive="text-sky-500 font-bold border-l-2 border-sky-500 bg-slate-50">
                    <a routerLink="/people"
                        class="flex flex-row items-center gap-x-3 p-6 hover:bg-slate-100 w-full cursor-pointer transition duration-300 ease-in-out font-bold text-slate-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
                        </svg>People</a>
                </li>
                <li class="flex" routerLinkActive="text-sky-500 font-bold border-l-2 border-sky-500 bg-slate-50">
                    <a routerLink="/groups"
                        class="flex flex-row items-center gap-x-3 p-6 hover:bg-slate-100 w-full cursor-pointer transition duration-300 ease-in-out font-bold text-slate-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                        </svg>Communities</a>
                </li>
                <li class="flex" routerLinkActive="text-sky-500 font-bold border-l-2 border-sky-500 bg-slate-50">
                    <a routerLink="/events"
                        class="flex flex-row items-center gap-x-3 p-6 hover:bg-slate-100 w-full cursor-pointer transition duration-300 ease-in-out font-bold text-slate-500 rounded-bl-md rounded-br-md"><svg
                            xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                        </svg>Events</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-span-4 col-start-2">
        <router-outlet></router-outlet>
    </div>
</div>