<!-- min-h-screen w-full flex flex-col relative -->
<div class="min-h-screen w-full flex flex-col relative bg-slate-50" [class.overflow-hidden]="isInformationModalOpen"
  [class.h-screen]="isInformationModalOpen">
  <app-header></app-header>
  <div class="min-h-screen">
    <router-outlet></router-outlet>
  </div>
  <app-chat></app-chat>
</div>