<div class="flex flex-col shadow rounded-md bg-white">
    <div class="flex flex-col p-4">
        <div class="flex flex-row items-center">
            <a routerLink="/profile/{{post?.id}}"><img src="{{ post?.profileImage }}" alt="Profile picture"
                    class="rounded-full w-10 h-10 mr-2 bg-sky-100"></a>
            <div class="flex flex-col">
                <a routerLink="/profile/{{ post?.id }}" class="hover:underline font-bold text-slate-500">{{
                    post?.firstName
                    }} {{ post?.lastName }}</a>
                <p class="text-sm text-slate-500">{{ post?.createdAt | date:'MMMM dd, YYYY' }}</p>
            </div>
        </div>
        <div class="mt-4">
            <p class="text-slate-700">{{ post?.content }}</p>
            <img *ngIf="post?.imageContent" (click)="openImage(post?.imageContent)" src="{{ post?.imageContent }}"
                alt="Picture" class="w-full h-96 object-cover cursor-pointer rounded-md mt-2">
        </div>
    </div>
    <div class="flex flex-row mt-4 justify-evenly p-2 border-y gap-x-2">
        <button type="button" [class.text-sky-500]="isLiked" (click)="likePost()"
            class="w-full hover:bg-slate-100 transition duration-300 ease-in-out h-8 rounded-md text-slate-500 font-bold flex flex-row items-center justify-center gap-x-2"><svg
                xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path
                    d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
            </svg>Like</button>
        <button (click)="toggleCommentBox()" type="button" [class.text-sky-500]="isCommentBoxOpen"
            class="w-full hover:bg-slate-100 transition duration-300 ease-in-out h-8 rounded-md text-slate-500 font-bold flex flex-row items-center justify-center gap-x-2"><svg
                xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                    d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
                    clip-rule="evenodd" />
            </svg>Comment</button>
    </div>
    <app-comment *ngFor="let comment of post?.comments" [comment]="comment"></app-comment>
    <app-new-comment *ngIf="isCommentBoxOpen"></app-new-comment>
</div>
<!-- modal -->
<div *ngIf="isModalOpen" class="h-screen w-screen bg-gray-700/75 fixed top-0 left-0 flex flex-row justify-center z-10">
    <svg (click)="closeModal()" xmlns="http://www.w3.org/2000/svg"
        class="h-12 w-12 absolute top-10 right-24 text-white hover:bg-slate-700 transition duration-300 ease-in-out rounded-full p-2 cursor-pointer"
        fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
    <img src="{{ modalImage }}" alt="Picture" class="object-contain w-auto h-full">
</div>