<div class="flex flex-row gap-x-2 items-center py-4">
    <img src="{{ friend?.profileImage }}" alt="User picture" class="rounded-full w-14 h-14 cursor-pointer bg-sky-100">
    <a routerLink="/profile/{{ friend?.id }}" class="font-bold text-slate-700 hover:underline">{{ friend?.firstName }}
        {{ friend?.lastName
        }}</a>
</div>