<div class="flex flex-col p-4 gap-y-4">
    <div class="flex flex-row items-center gap-x-1">
        <img src="../../../assets/user-blank.png" alt="User avatar" class="w-12 h-12 rounded-full cursor-pointer">
        <input type="text" (keyup)="toggleIsCommentButtonVisible($event)"
            class="w-full bg-slate-100 px-2 h-12 rounded-md outline-none focus:outline-2 focus:outline-sky-500 focus:bg-inherit transition duration-300 ease-in-out"
            placeholder="Enter your comment" />
    </div>
    <div class="self-end" *ngIf="isCommentButtonVisible">
        <button type="button"
            class="bg-sky-300 hover:text-sky-100 hover:bg-sky-700 text-sky-700 font-bold rounded-full px-4 py-2 transition duration-300 ease-in-out">Comment</button>
    </div>
</div>