<div class="flex flex-row items-top p-4">
    <img src="{{ comment?.profileImage }}" alt="User avatar" class="w-10 h-10 rounded-full cursor-pointer bg-sky-100">
    <div class="flex flex-col bg-slate-100 rounded-md p-3 ml-2">
        <div class="flex flex-row justify-between">
            <a routerLink="/profile/4" class="font-medium text-slate-700 hover:underline">{{ comment?.firstName }} {{
                comment?.lastName }}</a>
            <p class="text-sm text-slate-500">{{ comment?.createdAt | date:'MMMM dd, YYYY' }}</p>
        </div>
        <p class="text-slate-700">{{ comment?.content }}</p>
    </div>
</div>