<div class="flex flex-row justify-between items-center py-6">
    <div class="flex flex-row gap-x-2 items-center">
        <a routerLink="/profile/{{ member?.id }}"><img src="{{ member?.profileImage }}" alt="User avatar"
                class="w-12 h-12 rounded-full cursor-pointer bg-sky-100"></a>
        <div class="flex flex-col justify-center">
            <a routerLink="/profile/johnsmith" class="hover:underline font-bold text-slate-700">{{ member?.firstName }}
                {{ member?.lastName }}</a>
            <p class="text-sm text-slate-500">Joined yesterday</p>
        </div>
    </div>
    <button type="button" *ngIf="!isRequestSent" (click)="toggleFriendRequest()"
        class="flex flex-row items-center gap-x-1 bg-sky-500 text-sky-100 hover:bg-sky-700 transition duration-300 ease-in-out px-2 py-1 rounded-md"><svg
            xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path
                d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z" />
        </svg>Send
        friend request</button>
    <button type="button" *ngIf="isRequestSent" (click)="toggleFriendRequest()"
        class="flex flex-row items-center gap-x-1 text-slate-700 hover:bg-slate-200 transition duration-300 ease-in-out px-2 py-1 rounded-md"><svg
            xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path d="M11 6a3 3 0 11-6 0 3 3 0 016 0zM14 17a6 6 0 00-12 0h12zM13 8a1 1 0 100 2h4a1 1 0 100-2h-4z" />
        </svg>Cancel request</button>
</div>