<div class="truncate rounded-md hover:bg-slate-100 p-2 transition duration-300 ease-in-out">
    <a routerLink="/groups/{{ group?.id }}" class="hover:underline font-bold text-slate-700">
        <img src="{{ group?.coverUrl }}" alt="Group cover" class="h-64 w-full rounded-md object-cover">
        {{ group?.name }}
    </a>
    <p class="text-sm text-slate-500">{{ group?.members | number }} members</p>
</div>