<div class="grid grid-cols-3 gap-x-4">
    <div class="grid grid-cols-3 col-span-2 gap-4">
        <app-person-card *ngFor="let person of people" [person]="person"></app-person-card>
    </div>
</div>