<div class="grid grid-cols-3 gap-x-4">
    <div class="flex flex-col rounded-md shadow bg-white col-span-2">
        <img src="{{ event?.coverUrl }}" alt="Event cover" class="w-full h-80 object-cover object-center">
        <div class="flex flex-col p-4">
            <div class="flex flex-row justify-between items-center my-2">
                <p class="text-lg font-bold text-rose-700">{{ event?.date | date:'EEEE, dd.MM.YYYY' }} at {{ event?.date
                    | date:'HH:mm' }}</p>
                <button *ngIf="!isGoing" (click)="toggleGoing()"
                    class="bg-sky-500 text-sky-100 px-4 py-2 rounded-md hover:bg-sky-700 transition duration-300 ease-in-out">I
                    want to go</button>
                <button *ngIf="isGoing" (click)="toggleGoing()"
                    class="text-slate-700 px-4 py-2 rounded-md hover:bg-slate-200 transition duration-300 ease-in-out">Cancel</button>
            </div>
            <p class="text-slate-500 text-3xl">{{ event?.name }}</p>
            <p class="text-slate-500 font-bold">{{ event?.location }}</p>
        </div>
        <div class="flex flex-row border-y text-center gap-2 p-2">
            <a routerLink="/events/{{ event?.id }}" routerLinkActive="font-bold text-sky-500"
                [routerLinkActiveOptions]="{'exact':true}"
                class="w-full px-4 py-2 hover:bg-slate-200 transition duration-300 ease-in-out rounded-md">Information</a>
            <a routerLink="/events/{{ event?.id }}/attendees" routerLinkActive="font-bold text-sky-500"
                [routerLinkActiveOptions]="{'exact':true}"
                class="w-full px-4 py-2 hover:bg-slate-200 transition duration-300 ease-in-out rounded-md">Attendees</a>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>