<div class="grid grid-cols-3 gap-x-4 items-start">
    <div class="col-span-2 grid grid-cols-1 flex flex-col">
        <div class="bg-white shadow rounded-md p-2 mb-4">
            <div class="flex flex-row items-center px-4">
                <img src="{{ user?.profileImage }}" alt="User avatar" class="w-36 h-36 rounded-full bg-sky-100" />
                <div class="flex flex-row justify-between w-full items-center">
                    <div class="flex flex-col ml-2">
                        <p class="font-bold text-3xl text-slate-500">{{ user?.firstName }} {{ user?.lastName }}</p>
                        <div class="flex flex-col">
                            <p class="text-slate-500">Friends: {{ friends | number }}</p>
                        </div>
                    </div>
                    <div>
                        <button type="button" *ngIf="!isFriendRequestSent" (click)="toggleFriendRequest()"
                            class="bg-sky-500 text-sky-100 rounded-md px-4 gap-x-1 py-2 flex flex-row items-center transition duration-300 ease-in-out hover:bg-sky-700"><svg
                                xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path
                                    d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z" />
                            </svg>Send friend
                            request</button>
                        <button type="button" *ngIf="isFriendRequestSent" (click)="toggleFriendRequest()"
                            class="text-slate-700 rounded-md px-4 gap-x-1 py-2 flex flex-row items-center transition duration-300 ease-in-out hover:bg-slate-200"><svg
                                xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path
                                    d="M11 6a3 3 0 11-6 0 3 3 0 016 0zM14 17a6 6 0 00-12 0h12zM13 8a1 1 0 100 2h4a1 1 0 100-2h-4z" />
                            </svg>Cancel
                            request</button>
                    </div>
                </div>
            </div>
            <ul class="grid grid-cols-4 gap-x-2 mt-6 text-center">
                <li class="flex" routerLinkActive="font-bold text-sky-500"
                    [routerLinkActiveOptions]="routerLinkActiveOptions">
                    <a routerLink="/profile/{{ user?.id }}" class="hover:bg-slate-100 rounded-md p-2 w-full">Posts</a>
                </li>
                <li class="flex" routerLinkActive="font-bold text-sky-500"
                    [routerLinkActiveOptions]="routerLinkActiveOptions">
                    <a routerLink="info" class="hover:bg-slate-100 rounded-md p-2 w-full">Information</a>
                </li>
                <li class="flex" routerLinkActive="font-bold text-sky-500"
                    [routerLinkActiveOptions]="routerLinkActiveOptions">
                    <a routerLink="friends" class="hover:bg-slate-100 rounded-md p-2 w-full">Friends</a>
                </li>
                <li class="flex" routerLinkActive="font-bold text-sky-500"
                    [routerLinkActiveOptions]="routerLinkActiveOptions">
                    <a routerLink="communities" class="hover:bg-slate-100 rounded-md p-2 w-full">Communities</a>
                </li>
            </ul>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>