<div class="flex flex-col bg-white rounded-md shadow">
    <img src="{{ event?.coverUrl }}" alt="Event picture" class="h-36 object-cover object-center cursor-pointer">
    <div class="p-4">
        <div class="truncate">
            <p class="font-medium text-slate-500">{{ event?.date | date:'dd.MM.YYYY' }} at {{ event?.date | date:'HH:mm'
                }}
            </p>
            <a routerLink="/events/{{ event?.id }}" class="font-bold text-lg text-slate-600 hover:underline">{{
                event?.name }}</a>
            <p class="text-slate-700">{{ event?.location }}</p>
            <p class="text-sm text-slate-500">{{ event?.attendees | number }} want to go</p>
        </div>
        <button type="button" *ngIf="!isGoing" (click)="toggleGoing()"
            class="w-full bg-sky-500 rounded-md mt-5 h-10 text-sky-100 text-lg hover:bg-sky-700 transition duration-300 ease-in-out">I
            want to go</button>
        <button type="button" *ngIf="isGoing" (click)="toggleGoing()"
            class="w-full rounded-md mt-5 h-10 text-sky-700 text-lg hover:bg-slate-200 transition duration-300 ease-in-out">Cancel</button>
    </div>
</div>