<div class="grid grid-cols-3 gap-x-4">
    <div class="grid grid-cols-2 col-span-2 gap-4">
        <div class="flex flex-row justify-between items-center col-span-2 shadow bg-white p-4 rounded-md">
            <p class="text-slate-700">Didn't find what you were looking for?</p>
            <a routerLink="/groups/create"
                class="text-sky-100 bg-sky-500 px-4 py-2 rounded-md hover:bg-sky-700 transition duration-300 ease-in-out">Create
                group</a>
        </div>
        <app-group-card *ngFor="let group of groups" [group]="group"></app-group-card>
    </div>
</div>