/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;;
  height: 100vh;
  width: 100%;
}

.debug {
  border: 1px solid red;
}

.w-490 {
  width: 490px;
}

/* spinner */
.loader {
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
