<div class="grid grid-cols-1">
    <div class="bg-white rounded-md shadow p-4 gap-y-4 flex flex-col">
        <div class="border-b pb-2 border-slate-500">
            <p class="font-bold text-slate-500 text-2xl">Profile</p>
        </div>
        <div class="flex flex-col gap-y-4">
            <div class="flex flex-row gap-x-4">
                <div class="w-full flex flex-col">
                    <label for="profile-first-name">First name</label>
                    <input type="text" readonly class="outline-none h-12 rounded-md bg-slate-200 px-2" value="Bojan" />
                </div>
                <div class="w-full flex flex-col">
                    <label for="profile-first-name">Last name</label>
                    <input type="text" readonly class="outline-none h-12 rounded-md bg-slate-200 px-2"
                        value="Vujanović" />
                </div>
            </div>
            <div class="flex flex-col">
                <label for="profile-first-name">Email</label>
                <input type="text" readonly class="outline-none h-12 rounded-md bg-slate-200 px-2"
                    value="bojan.vujanovic@example.com" />
            </div>
            <div class="self-end">
                <button (click)="openEditModal()" type="button"
                    class="text-slate-500 hover:bg-slate-200 rounded-md p-2 transition duration-300 ease-in-out">Edit
                    profile</button>
            </div>
        </div>
        <div class="border-b pb-2 border-slate-500">
            <p class="font-bold text-slate-500 text-2xl">Privacy</p>
        </div>
        <div class="flex flex-col gap-y-5">
            <div class="flex flex-row items-center justify-between">
                <p class="font-bold text-slate-500">Make profile private?</p>
                <label for="profile-private" class="flex items-center cursor-pointer relative">
                    <input type="checkbox" id="profile-private" class="sr-only">
                    <div class="toggle-bg bg-slate-200 border-2 border-slate-200 h-6 w-11 rounded-full"></div>
                </label>
            </div>
            <div class="flex flex-row items-center justify-between">
                <p class="font-bold text-slate-500">Who can see your posts?</p>
                <select class="outline-none focus:outline-sky-500 rounded-md p-1 outline-slate-100">
                    <option>Everyone</option>
                    <option>Friends</option>
                    <option>Only me</option>
                </select>
            </div>
            <div class="flex flex-row items-center justify-between">
                <p class="font-bold text-slate-500">Who can see your information?</p>
                <select class="outline-none focus:outline-sky-500 rounded-md p-1 outline-slate-100">
                    <option>Everyone</option>
                    <option>Friends</option>
                    <option>Only me</option>
                </select>
            </div>
            <div class="flex flex-row items-center justify-between">
                <p class="font-bold text-slate-500">Who can see your friends?</p>
                <select class="outline-none focus:outline-sky-500 rounded-md p-1 outline-slate-100">
                    <option>Everyone</option>
                    <option>Friends</option>
                    <option>Only me</option>
                </select>
            </div>
            <div class="flex flex-row items-center justify-between">
                <p class="font-bold text-slate-500">Who can see your communities?</p>
                <select class="outline-none focus:outline-sky-500 rounded-md p-1 outline-slate-100">
                    <option>Everyone</option>
                    <option>Friends</option>
                    <option>Only me</option>
                </select>
            </div>
        </div>
    </div>
</div>
<!-- modal -->
<div [class.hidden]="!isEditModalOpen"
    class="fixed top-0 left-0 w-screen h-screen bg-slate-100/75 z-20 flex flex-row items-center justify-center">
    <div class="bg-white shadow rounded-md flex flex-col p-4">
        <div class="flex flex-row justify-between items-center">
            <p class="text-2xl font-bold text-slate-500">Edit profile</p>
            <button (click)="closeEditModal()" type="button"
                class="hover:bg-slate-200 transition duration-300 ease-in-out rounded-full p-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-slate-500" viewBox="0 0 20 20"
                    fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd" />
                </svg>
            </button>
        </div>
        <div class="flex flex-col mt-10 gap-y-4">
            <div class="flex flex-row gap-4">
                <div class="flex flex-col">
                    <label for="edit-first-name">First name</label>
                    <input type="text" id="edit-first-name" class="bg-slate-200 h-12 px-2 w-64 rounded-md" value="John">
                </div>
                <div class="flex flex-col">
                    <label for="edit-last-name">Last name</label>
                    <input type="text" id="edit-last-name" class="bg-slate-200 h-12 px-2 w-64 rounded-md" value="Smith">
                </div>
            </div>
            <div class="flex flex-col">
                <label for="edit-email">Email</label>
                <input type="email" id="edit-email" class="h-12 px-2 w-full bg-slate-200 rounded-md"
                    value="john.smith@example.com">
            </div>
            <div class="flex flex-col">
                <label for="edit-password">Password</label>
                <input type="password" id="edit-password" class="h-12 px-2 w-full bg-slate-200 rounded-md">
            </div>
            <div class="flex flex-col">
                <label for="edit-confirm-password">Confirm password</label>
                <input type="password" id="edit-confirm-password" class="h-12 px-2 w-full bg-slate-200 rounded-md">
            </div>
            <div class="self-end">
                <button type="button" class="bg-sky-500 text-sky-100 p-2 rounded-md">Save changes</button>
            </div>
        </div>
    </div>
</div>