.toggle-bg:after {
    content: '';
    @apply absolute top-0.5 left-0.5 bg-white border border-slate-300 rounded-full h-5 w-5 transition shadow-sm;
}

input:checked + .toggle-bg:after {
    transform: translateX(100%);
    @apply border-white;
}

input:checked + .toggle-bg {
    @apply bg-sky-500 border-sky-500;
}