<div class="grid grid-cols-3 gap-x-4">
    <div class="col-span-2 gap-y-4 flex flex-col">
        <app-post *ngFor="let post of posts" [post]="post"></app-post>
    </div>
    <div class="col-span-1">
        <div class="rounded-md shadow bg-white px-4 divide-y flex flex-col">
            <app-friend-suggestion *ngFor="let suggestion of friendSuggestions" [friend]="suggestion">
            </app-friend-suggestion>
        </div>
    </div>
</div>