<div class="grid grid-cols-3">
    <div class="grid grid-cols-1 divide-y col-span-2 bg-white rounded-md shadow">
        <app-notification></app-notification>
        <app-notification [type]="NotificationTypes.Event"></app-notification>
        <app-notification></app-notification>
        <app-notification [type]="NotificationTypes.Group"></app-notification>
        <app-notification [type]="NotificationTypes.Event"></app-notification>
        <app-notification [type]="NotificationTypes.People"></app-notification>
        <app-notification></app-notification>
        <app-notification [type]="NotificationTypes.Group"></app-notification>
        <app-notification [type]="NotificationTypes.People"></app-notification>
        <app-notification [type]="NotificationTypes.Event"></app-notification>
        <app-notification></app-notification>
        <app-notification></app-notification>
        <app-notification [type]="NotificationTypes.Group"></app-notification>
        <app-notification [type]="NotificationTypes.People"></app-notification>
        <app-notification></app-notification>
        <app-notification [type]="NotificationTypes.Group"></app-notification>
        <app-notification [type]="NotificationTypes.People"></app-notification>
        <app-notification></app-notification>
        <app-notification [type]="NotificationTypes.Event"></app-notification>
        <app-notification></app-notification>
    </div>
</div>