<div [class.h-14]="!isChatOpen" [class.h-96]="isChatOpen"
  class="border-l border-t border-r border-slate-300 w-96 rounded-tr-md rounded-tl-md flex flex-col transition-height duration-300 ease-in-out overflow-hidden bg-white">
  <div class="flex flex-row items-center p-2 border-b h-14">
    <p>New message</p>
    <button (click)="toggleChat()" [hidden]="!isChatOpen" type="button"
      class="ml-auto h-10 w-10 hover:bg-slate-200 rounded-full cursor-pointer p-2 transition duration-300 ease-in-out">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-full w-full" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
      </svg>
    </button>
    <button (click)="toggleChat()" [hidden]="isChatOpen" type="button"
      class="ml-auto h-10 w-10 hover:bg-slate-200 rounded-full cursor-pointer p-2 transition duration-300 ease-in-out">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-full w-full" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7" />
      </svg>
    </button>
    <button (click)="closeWindow()" type="button"
      class="hover:bg-slate-200 transition duration-300 ease-in-out rounded-full p-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd" />
      </svg>
    </button>
  </div>
  <div class="h-14">
    <div class="flex flex-row items-center p-3">
      <input (keyup)="searchUsers($event)" type="text" placeholder="Enter a name"
        class="outline-none bg-slate-200 w-full h-8 rounded-md px-2 focus:outline-2 focus:outline-sky-500 focus:bg-inherit transition duration-300 ease-in-out" />
    </div>
  </div>
  <div class="h-64 overflow-scroll-auto overflow-x-hidden">
    <!-- result -->
    <div *ngFor="let result of results" (click)="openConversation(result)"
      class="flex flex-row items-center p-3 border-b hover:bg-slate-200 transition duration-300 ease-in-out cursor-pointer">
      <img src="{{ result.profileImage }}" alt="User avatar" class="w-12 h-12 rounded-full bg-sky-100" />
      <p class="ml-2 font-bold text-slate-500">{{result.firstName}} {{result.lastName}}</p>
    </div>
  </div>
</div>