<div class="grid grid-cols-3 gap-x-4 items-start">
    <div class="col-span-2 grid grid-cols-1 flex flex-col">
        <div class="bg-white shadow rounded-md p-2 mb-4">
            <div class="flex flex-row items-center px-4">
                <img src="https://avataaars.io/?avatarStyle=Transparent&topType=NoHair&accessoriesType=Blank&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light"
                    alt="User avatar" class="w-36 h-36 rounded-full bg-sky-100" />
                <div class="flex flex-col gap-y-1 ml-4">
                    <p class="font-bold text-3xl text-slate-500">Bojan Vujanović</p>
                    <p class="text-slate-500">Friends: 30</p>
                </div>
            </div>
            <ul class="grid grid-cols-4 gap-x-2 mt-6 text-center">
                <li class="flex" routerLinkActive="font-bold text-sky-500"
                    [routerLinkActiveOptions]="routerLinkActiveOptions">
                    <a routerLink="/profile/me" class="hover:bg-slate-100 rounded-md p-2 w-full">Posts</a>
                </li>
                <li class="flex" routerLinkActive="font-bold text-sky-500"
                    [routerLinkActiveOptions]="routerLinkActiveOptions">
                    <a routerLink="info" class="hover:bg-slate-100 rounded-md p-2 w-full">Information</a>
                </li>
                <li class="flex" routerLinkActive="font-bold text-sky-500"
                    [routerLinkActiveOptions]="routerLinkActiveOptions">
                    <a routerLink="friends" class="hover:bg-slate-100 rounded-md p-2 w-full">Friends</a>
                </li>
                <li class="flex" routerLinkActive="font-bold text-sky-500"
                    [routerLinkActiveOptions]="routerLinkActiveOptions">
                    <a routerLink="communities" class="hover:bg-slate-100 rounded-md p-2 w-full">Communities</a>
                </li>
            </ul>
        </div>
        <router-outlet></router-outlet>
    </div>
    <div class="flex flex-col gap-y-4" *ngIf="showSideResults">
        <div class="bg-white rounded-md shadow p-4 flex flex-col">
            <p class="font-bold text-slate-500 text-xl">Friends</p>
            <!-- friend card -->
            <div class="flex flex-col divide-y">
                <app-profile-friend-card *ngFor="let friend of friends" [friend]="friend"></app-profile-friend-card>
            </div>
        </div>
        <div class="bg-white rounded-md shadow p-4 flex flex-col">
            <p class="font-bold text-slate-500 text-xl">Communities</p>
            <!-- friend card -->
            <div class="flex flex-col divide-y">
                <app-profile-community-card *ngFor="let group of groups" [group]="group"></app-profile-community-card>
            </div>
        </div>
    </div>
</div>