<div class="h-screen flex flex-row">
  <div class="lg:basis-3/5 lg:border-r w-full">
    <div class="flex flex-col justify-center h-full p-6 2xl:px-24">
      <div class="mb-16">
        <p class="text-sky-700 text-6xl font-bold">Sign up</p>
        <p class="text-sky-700 text-3xl mt-4">Let's create your account</p>
      </div>
      <form>
        <div class="flex flex-row gap-4">
          <div class="w-full">
            <label for="register-first-name" class="text-gray-500 font-bold">First name</label>
            <input id="register-first-name" class="border rounded-md w-full h-10 px-2 outline-sky-500 border"
              type="text" />
          </div>
          <div class="w-full">
            <label for="register-last-name" class="text-gray-500 font-bold">Last name</label>
            <input id="register-last-name" class="border rounded-md w-full h-10 px-2 outline-sky-500" type="text" />
          </div>
        </div>
        <div class="flex flex-col mt-5">
          <label for="register-email" class="text-gray-500 font-bold">Email address</label>
          <input id="register-email" class="border rounded-md w-full h-10 px-2 outline-sky-500" type="email" />
        </div>
        <div class="flex flex-col mt-5">
          <label for="register-password" class="text-gray-500 font-bold">Password</label>
          <input id="register-password" class="border rounded-md w-full h-10 px-2 outline-sky-500" type="password" />
        </div>
        <div class="flex flex-col mt-5">
          <label for="register-confirm-password" class="text-gray-500 font-bold">Confirm password</label>
          <input id="register-confirm-password" class="border rounded-md w-full h-10 px-2 outline-sky-500"
            type="password" />
        </div>
        <div class="mt-10">
          <div *ngIf="!true" class="flex justify-center items-center">
            <div class="loader w-12 h-12 border-4 border-t-4 border-sky-100 border-t-sky-500"></div>
          </div>
          <button *ngIf="!false" (click)="register()"
            class="rounded-md w-full bg-sky-500 h-11 text-sky-100 font-bold hover:bg-sky-700 transition duration-500 ease-in-out"
            type="button">
            Create account
          </button>
        </div>
        <div class="mt-16 flex flex-row justify-center">
          <p class="text-gray-500">Already have an account?</p>
          <a routerLink="/account/login" class="ml-1 font-medium text-sky-500">Sign in</a>
        </div>
      </form>
    </div>
  </div>
  <div class="bg-gray-400 w-full hidden lg:flex">
    <img src="../../assets/undraw_collaboration.svg" alt="Collaboration" class="w-full h-full p-20 bg-white">
  </div>
</div>