<div class="flex flex-col shadow bg-white rounded-md">
    <img src="{{ group?.coverUrl }}" alt="Group picture" class="object-cover object-center h-48 cursor-pointer">
    <div class="p-4">
        <div class="truncate">
            <a routerLink="/groups/{{ group?.id }}" class="font-bold text-lg text-slate-700 hover:underline">{{
                group?.name }}</a>
        </div>
        <a routerLink="/groups/group/members" class="text-slate-500 mt-2 hover:underline">{{ group?.members | number }}
            members</a>
        <button type="button" *ngIf="!isJoined" (click)="toggleJoin()"
            class="w-full rounded-md bg-sky-500 h-10 mt-8 text-sky-100 text-lg hover:bg-sky-700 transition duration-300 ease-in-out">Join
            group</button>
        <button type="button" *ngIf="isJoined" (click)="toggleJoin()"
            class="w-full rounded-md h-10 mt-8 text-sky-700 text-lg hover:bg-slate-200 transition duration-300 ease-in-out">Leave
            group</button>
    </div>
</div>